.About {
    width: 50%;
    margin: auto;
    text-align: left;
    padding-bottom: 32px;
}

.About > h1, .About > h2 {
    text-align: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.562);
    padding-bottom: 8px;
}

.About li {
    margin: 16px;
}

@media only screen and (max-width: 600px) {
    .About {
        width: 90%;
    }
}

.AboutBold {
    font-weight: bold;
}

.AboutImage {
    width:100%;
    display: flex;
    flex-direction: column;
    margin: 16px;
}

.AboutImage > p {
    font-size: small;
    margin:0;
    padding: 0;
    text-align: center;
    color: grey;
    font-style: italic;
}

.AboutImage > img {
    width: 50%;
    margin: auto;
    border: 1px solid grey;
    padding: 8px;
}