.EnumNavBar {
    display: flex;
    margin: auto;
    place-items: center;
    justify-content: center;
    gap: 8px;
    border: 1px solid black;
    padding: 4px;
    flex-wrap: wrap;
    position: relative;
}

.EnumNavBar > button {
    border: 1px solid black;
}

.EnumNavBar > button:disabled {
    background-color: grey;
    color: white;
}

.EnumNavBar > label {
    text-align: left;
    position: absolute;
    top:-20px;
    left:0px;
    font-size: small;
    color: grey;
}