.BottomBanner {
    width: 100%;
    display: flex;
    gap: 5%;
    max-width: 90%;
    margin: 16px auto;
}

.BottomBanner > img {
    max-height: 20vh;
    border-style: double;
}

.BannerNames {
    border-style: double;
    margin: auto;
    width: 100%;
    font-weight: bolder;
    font-size: x-large;
}

@media only screen and (max-width: 600px) {

    .BannerNames {
        font-size: small!important;
        height: 100%;
    }

    .BottomBanner > img {
        height: 10vh;
    }
}