.QuestionView {
    margin: auto;
    padding: 16px;
    display: flex;
    overflow-y: auto;
}

.QuestionDescription {
    border: solid 1px black;
    padding: 8px;
}

.ConfirmAnswerButton {

}

.Answer {
    margin-bottom: 8px;
}

@media only screen and (max-width: 600px) {
    .QuestionView {
        font-size: small;
    }
    
}