.SplitEditorArea {
    display: flex;
    gap: 8px;
}

.ResizeHandle {
    width: 4px;
    background-color: grey;
    margin-left: 2px;
    margin-right: 2px;
    border: 1px solid black;
}

.Panel {
    padding: 16px;
    overflow-y: scroll!important;
    max-height: 100vh;
}

.DownloadButtons {
    margin: 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    place-items: center;
    justify-content: center;
    
}

.MapSettings {
    margin: 8px;
}

.MapSettings > label {
    margin-right: 8px;
}

.JsonError {
    border: #c93535 1px solid;
    margin: 8px auto;
    color: #c93535;
    background-color: #f5dddd;;
}

.GreenButton {
    background-color: green;
    color: white;
    font-weight: bold;
    border: solid 1px darkgreen;
}

.GreenButton:hover {
    background-color: darkgreen!important;
}

.BlueButton {
    background-color: rgb(47, 47, 255);
    color: white;
    font-weight: bold;
    border: solid 1px darkblue;
}

.BlueButton:hover {
    background-color: darkblue!important;
}

.RedButton {
    background-color: red;
    color: white;
    font-weight: bold;
    border: solid 1px darkred;
}

.RedButton:hover {
    background-color: darkred!important;
}

.CircleButton {
    border-radius: 100%;
    width: 32px;
    height: 32px;
    display: flex;
    place-items: center;
    justify-content: center;
    font-size: small!important;
}

.Toolbar {
    display: flex;
    margin: auto;
    gap: 8px;
    place-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 12px;
}

.Toolbar > button {
   margin: 0px 0px;
   border: 1px grey solid;
}

.Toolbar > button:hover {
    background-color: gainsboro;
}

.LastSaved {
    font-style: italic;
    color: grey;
    font-size: x-small;
    margin: -5px 0px;
    margin-bottom: 5px;
}

.GenericEditorComponent {

}

.GenericEditorComponent label {
    font-weight: bold;
    margin-right: 8px;
}

.EditorWarningBox {
    background-color: rgba(255, 255, 0, 0.279);
    border: rgba(184, 135, 11, 0.669) 1px solid;
    width: 75%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    place-items: center;
    text-align: center;
    margin: 8px auto;
    font-size: small;
}

.EditorStance {
    border-bottom: 1px solid rgba(0, 0, 0, 0.628);
    padding: 8px;
    margin: 8px;
}

.EditorToggleChecked {
    background-color: green;
    color: white;
    opacity: 0.9;
    transition: all 0.1s ease-in-out;
}

.EditorToggleChecked:hover {
    opacity: 1.0;
}

.EditorToggleUnchecked {
    
}

label {
    font-weight: bold;
}

.OsegLeftPanel select, .Toolbar select {
    padding: 0.6em 1.2em;
}

.SongEditor {
    border: 1px solid rgba(0,0,0,0.24);
    padding: 8px;
    margin: 8px;
    display: flex;
    flex-wrap: wrap;
    place-items: center;
    gap: 4px;
}