.CandidateSelection {
    width: 95%;
    border: solid 2px white;
    font-size: small;
    margin:auto;
}

.CandidateSelectionBox {
    padding: 16px;
    margin: auto;
}

.CandidateInfoArea {
    display: flex;
    gap: 16px;
    padding: 16px;
    margin-top: 10px;
    border-style: double;
    border-color: #c9c9c9;
}

@media only screen and (max-width: 600px) {

    .CandidateSelection {
        font-size: x-small;
    }

    .CandidateSelectionBox {
        width: 80%!important;
    }

    .CandidateInfoArea {
        flex-direction: column;
    }

    .CandidateDescription {
        text-align: center!important;
        margin:auto;
        width: 100%!important;
    }

    .CandidateInfoArea > img {
        width: 50%;
    }

}

.CandidateInfoArea > img {
    margin:auto;
    max-height: 30vh;
    border-style: double;
}

.CandidateDescription {
    text-align: left;
    height: 100%;
    width: 80%;
    overflow-y: auto;
    max-height: 30vh;
}

.CandidateDescription > p {
    margin-top:0px!important;
}


.LabelText {
    font-weight: bolder;
}

.CandidateFact {
    font-weight: bolder;
}