.MapView {
    display: inline-flex;
    width:100%;
    max-height: 512px;
}

@media only screen and (max-width: 1000px) {
    .MapView {
      flex-direction: column;
      place-items: center;
      justify-content: center;
    }

    .StatePoll {
        margin: 8px;
        width: 90%!important;
        padding: 10px!important;
        font-size: x-small;
        overflow-y: scroll;
    }

    .StateIssue {
        font-size: x-small!important;
    }
}

.Map {
    width: 100%;
    background-color: #c1ecf5;
    border-style: double;
    border-color: black;
}


.StatePoll > h3 {
    margin: 0;
    padding: 0;
}

.StatePoll {
    border-style: double;
    padding: 1%;
    display:flex;
    flex-direction: column;
    place-items: top;
    width: 33%;
    font-size: small;
}

.StatePollValueList {
    display: flex;
    flex-direction: column;
    text-align: left;
    border-style: double;
    padding: 8px;
}

.StatePollValue {
    padding: 0px;
    margin: 0px;
}

.PollDot {
    border-radius: 100%;
    height: 12px;
    width: 12px;
    display: inline-block;
    margin: auto;
    margin-right: 4px;
    border: solid 1px rgba(0,0,0,0.25);
}

.EvPvInfo {
    display: flex;
    flex-direction: column;
    margin: 16px;
    font-weight: bold;
}

.IssueDiv {
    position: relative;
    display: inline-block;
}