.QuestionView {
    margin: auto;
    padding: 8px;
    padding-top: 6px;
    display: flex;
    place-items: top;
    justify-content: center;
    border-bottom: 1px white solid;
}

.QuestionDescription {
    border-style: double;
    padding: 8px;
    margin-top: 0px;
}

.Answer {
    margin-bottom: 8px;
    position: relative;
}

.Answer label {
    font-weight: normal;
}

.Answer input:focus {
    outline:none;
}

.Answer label:hover {
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .QuestionView {
        font-size: x-small;
    }
    
}

.AnswerHolder {
    padding: 4px;
    text-align: left;
    font-weight: normal;
    min-height: 33vh;
}

.QuestionArea {
    width: 100%;
}