.QuestionView {
    margin: auto;
    padding: 16px;
    display: flex;
    overflow-y: auto;
    place-items: top;
    justify-content: center;
    margin-bottom: 16px;
    border-bottom: 1px white solid;
}

.QuestionDescription {
    border-style: double;
    padding: 8px;
}

.Answer {
    margin-bottom: 8px;
}

.Answer label {
    font-weight: normal;
}

@media only screen and (max-width: 600px) {
    .QuestionView {
        font-size: x-small;
    }
    
}

.AnswerHolder {
    padding: 8px;
    padding-top: 16px;
    text-align: left;
    font-weight: normal;
}