.BottomBanner {
    width: 100%;
    display: flex;
    gap: 2%;
    margin: 0px auto;
    height: 20vh;
}

.BottomBannerHolder {
    width: 66%;
    margin: auto;
}

.CandidateImageHolder, .RunningMateImageHolder {
    height: 100%;
    width: 33%;
    border: black double;
    box-sizing: border-box;
}

.CandidateImageHolder > img, .RunningMateImageHolder > img {

    height: 100%;
    width: 100%;
    object-fit: cover;
}

.QuestionOf {
    font-size:medium;
    padding: 8px;
}

.BannerNamesBacking {
    width: 100%;
    height: 100%;
    font-weight: bolder;
    font-size: x-large;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    gap: 8px;
}

.BannerNames {
    border-style: double;
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1200px) {

    .QuestionOf {
        font-size: x-small;
    }

    .BannerNamesBacking {
        font-size: x-small!import  ant;
        gap: 8px;
        width: 90%;
        height: 50%;
    }

    .CandidateImageHolder, .RunningMateImageHolder {
        width: 66%;
    }

    .BottomBannerHolder {
        width: 100%;
    }
}

.BannerImage {
    width: 100%;
}