.FinalResults {
    border: double;
    margin-bottom: 16px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.FinalResults > h2 {
    padding: 0;
    margin: 0;
}

.ResultsTable {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    text-align: left;
    border: solid 1px #dddddd;
}

.ResultsTable th,
.ResultsTable td {
    padding: 12px 15px;
}

.ResultsTable tbody tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.132);
    background-blend-mode:overlay;
}

@media only screen and (max-width: 600px) {
    .ResultsTable {
        font-size: xx-small;

    }
}