.QuoteHeader > p {
    font-style: italic;
    margin: 0;
    padding: 0;
}

.QuoteHeader > h2 {
    margin: 0;
    padding: 0;
    font-size: xx-large;
}

.QuoteHeader {
    border-style: double;
    padding: 8px;
    margin: 8px;
    max-width: 75%;
    width: 50%;
}


@media only screen and (max-width: 600px) {
    .QuoteHeader > h2 {
        font-size: large;
    }

    .QuoteHeader > p {
        font-size: x-small;
    }

    .QuoteHeader {
        width: auto;
    }
}