#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.App {
  width: 100%;
}

html, body, .App, #root {
  height: 100%
}

.HeaderNav {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  place-items: center;
  justify-content: center;
  background-color: lightblue;
  position: relative;
}

.HeaderNav > div {
  padding: 8px;
}

.Logo {
  position: absolute;
  left: 8px;
  font-size: x-large;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .Logo {
    display: none;
  }

  .HeaderNav {
    font-size: small;
  }
}

button {
  border: 1px solid rgb(24, 23, 23);
}